  <div>
    <h1>Polyenvironments</h1>
    <p>srs.biz: {{message}}</p>
    <h2>The Sounds</h2>
    <div class="audiology">
      <div class="progress-bar"></div>
      <div class="container">
        <div class="sound"></div>
        <div class="sound"></div>
        <div class="sound"></div>
      </div>
    </div>
    <h2>The Locations</h2>
    <div class="cartographology">
      <div class="container">
        <div class="map-pin"></div>
        <div class="map-pin"></div>
        <div class="map-pin"></div>
        <div class="map"></div>
      </div>
    </div>
  </div>
  {{> error}}
